<%= simple_form_for(@employee) do |f| %>
	<div class='section'>
		<%= f.input :name, :label => t('employee.name'), input_html:{:class => 'form-control'} %>
		<%= f.input :phone, :label => t('phone'), input_html: { :class => 'form-control' } %>
		<%= f.input :email, :label => t('email'), input_html: { :class => 'form-control' }%>

  	<div class="actions">
  		<div class='buttonbar'>
  			<%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
  			<%= 'ou' %>
  			<%= link_to t('menu.cancel'), employees_path %>
  		</div>
  	</div>
  </div>
<% end %>

