<div class='title'> <%= t('user.edit') %> </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class='section'>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: t("password"), autocomplete: "off", hint: t("password_hint"), required: false %>
      <%= f.input :password_confirmation, label: t("password_confirmation"), required: false %>
      <%= f.input :current_password, label: t("current_password"), hint: t("current_password_hint"), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
      <%= 'ou' %>
      <%= link_to t('menu.cancel'), root_path %>
    </div>
  </div>
<% end %>

<br>

<div class='title'> <%= t('user.cancel_account') %> </div>

<p>
  Insatisfeito? 
  <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Voce tem certeza?" }, method: :delete %>
</p>

