<div class='title_tools'>
  <%= link_to('Voltar para Filtros', report_fee_filter_path, class: "btn btn-large btn-default") %>
</div>

<div class='title_page'> <%= 'Relatório de Comissões' %>  </div>

<div class='section'>
  <div class='label1 top req'> <%= 'Data Inicial' %>: </div>    <%= params[:report][:ini_at] %>
  <div class='label1 top req'> <%= 'Data Final' %>: </div>      <%= params[:report][:end_at] %>
</div>

<table class="table" border="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Colaborador</th>
      <th>Valor Realizado</th>
      <th>Comissão</th>
    </tr>
  </thead>
  <tbody>
    <% unless @rels.nil? %>
      <% @rels.each do |rel| %>
        <tr>
          <td><%= rel.user_id %> </td>
          <td><%= rel.name %> </td>
          <td><%= rel.paid_amount.real %> </td>
          <td><%= comissao(rel.paid_amount).real %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>
