<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to t('Relatório em PDF'), :action => "report_payment_action_pdf", :cod => @params_pdf, :format => "pdf" %> </a>
  <a class="btn btn-large btn-default" <%= link_to('Voltar para Filtros', report_payment_filter_path) %> </a>
</div>

<div class='title_page'>
  <span> <%= 'Relatório de Pagamentos Efetuados' %> </span>
</div>

<div class='section'>
  <div class='label1 top req'> <%= 'Data Inicial' %>: </div>    <%= params[:report][:paid_ini_at] %>
  <div class='label1 top req'> <%= 'Data Final' %>: </div>      <%= params[:report][:paid_end_at] %>
  <div class='label1 top req'> <%= 'Tipo Pagamento' %>: </div>      <%= params[:report][:type] == '0' ? 'FAESC' : 'GMA' %>
</div>

<table class="table" border="0">
  <thead>
    <tr>
      <th>Contribuinte</th>
      <th>Cidade</th>
      <th>CPF</th>
      <th>Exercício</th>
      <th>Parcela</th>
      <th>Valor</th>
      <th>Data Vencimento</th>
      <th>Data Pagamento</th>
      <th>Colaborador(a)</th>
    </tr>
  </thead>
  <tbody>
    <% unless @rels.nil? %>
      <% @rels.each do |rel| %>
        <tr>
          <td><%= rel.tname %> </td>
          <td><%= rel.cname %></td>
          <td><%= rel.cpf %> </td>
          <td><%= rel.description %> </td>
          <% if rel.ticket_type == 'client' %>
            <td><%= rel.ticket_number - 1 %>/<%= rel.client_ticket_quantity %> </td>
          <% else %>
            <td><%= '1/1' %> </td>
          <% end %>            
          <td><%= rel.paid_amount.real %> </td>
          <td><%= rel.due.to_date.to_s_br %> </td>
          <td><%= rel.paid_at.to_s_br %> </td>
          <td><%= rel.name %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>TOTAIS PAGOS</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @rels.map{|i|i[:paid_amount]}.inject(:+).real if @rels %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>
