<div class='title_tools'>
  <% if @contract.active? & current_user.admin? %>
    <a class="btn btn-large btn-danger" <%= link_to(t('contract.delete'), delete_contract_path(@contract)) %> </a>
  <% end %>
  <a class="btn btn-large btn-warning" <%= link_to(t('contract.index'), contracts_path) %> </a>
  <a class="btn btn-large btn-warning" <%= link_to t('contract.print_pdf'), :action => "contract_transaction_pdf", :cod => @contract.id, :format => "pdf" %> </a>
</div>

<div class='title_page'> <%= t('contract.show') %> </div>

<div class='section'>
  <div class='label1 top req'> <%=t("id") %>: </div>          <%= @contract.id %>
  <div class='label1 top req'> <%=t("status") %>: </div>          <%= t('contract.status.' << @contract.status) %>
  <div class='label1 top req'> <%=t("contract.contract_date") %>: </div>          <%= @contract.contract_date.to_s_br %>
  <div class='label1 top req'> <%=t("contract.taxpayer") %>: </div>               <%= @contract.taxpayer.origin_code.to_s << " - " << @contract.taxpayer.name %>
  <div class='label1 top req'> <%=t("contract.employee") %>: </div> <%= @contract.employee ? @contract.employee.name : 'ADMIN'  %>
	<div class='label1 top req'> <%=t("contract.amount", name: @contract.unit.name) %>: </div>           <%= @contract.unit_amount.real %>
	<div class='label1 top req'> <%=t("contract.unit_fee", name: @contract.unit.name) %>: </div>				        <%= @contract.unit_fee.real %>
	<div class='label1 top req'> <%=t("contract.ticket_quantity", name: @contract.unit.name) %>: </div>	 <%= @contract.unit_ticket_quantity %>
	<div class='label1 top req'> <%=t("contract.amount", name: @contract.taxpayer.client.name) %>: </div>			    <%= @contract.client_amount.real %>
	<div class='label1 top req'> <%=t("contract.ticket_quantity", name: @contract.taxpayer.client.name) %>: </div>	<%= @contract.client_ticket_quantity %>
</div>


<div class='subtitle'> <%= 'Parcelas' %> </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Vencimento</th>
      <th>Valor de Parcela GMA</th>
      <th>Valor de Parcela Cliente</th>
      <th>Situação do Boleto</th>
      <th>Data do Pagamento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @tickets.nil? %>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.ticket_number %> </td>
          <td><%= ticket.due.to_date.to_s_br %> </td>
          <td><%= ticket.amount.real if ticket.unit? %> </td>
          <td><%= ticket.amount.real if ticket.client? %> </td>
          <td><%= t('bank_billet.status.'<< ticket.bank_billet.status) if ticket.bank_billet.present? %> </td>
          <td><%= ticket.bank_billet.paid_at.to_s_br if ticket.bank_billet.present? %></td>
          <td>
          <div class='tools'>
            <a class="btn btn-xs btn-default" <%= link_to(t('contract.bankbillet'), :action => "create_bank_billet", :cod => ticket.id) %> </a>
          </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
