<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('task.new'), new_task_path) %> </a>
	<a class="btn btn-large btn-warning" <%= link_to(t('task.index'), tasks_path) %> </a>
</div>

<div class='title_page'> <%= t('task.show') %> </div>

<div class='section'>
	<div class='label1 top req'> <%=t("task.task_date") %>: </div>				<%= @task.task_date.to_s_br %>
    <div class='label1 top req'> <%=t("task.category") %>: </div> 					<%= @task.category.name %>
	<div class='label1 top req'> <%=t("task.employee") %>: </div> 					<%= @task.employee.name %>
	<div class='label1 top req'> <%=t("task.taxpayer") %>: </div> 				<%= @task.taxpayer.name %>
</div>

