<%= simple_form_for(@cna) do |f| %>
	<div class='section'>
    <div class='label1 top req'> <%=t("taxpayer.name") %>: </div>        <%= @taxpayer.name %>
  </div>
  <div class='section'>
    <div class='label1 top req'> <%=t("cna.year") %>: </div>        <%= @cna.year %>
		<div class='label1 top req'> <%=t("cna.nr_document") %>: </div> <%= @cna.nr_document %>
		<div class='label1 top req'> <%=t("cna.due_at") %>: </div> 			<%= @cna.due_at.to_s_br %>
		<div class='label1 top req'> <%=t("cna.amount") %>: </div> 			<%= @cna.amount %>

		<%= f.input :fl_charge, :label => t('cna.charge') %>

		<div class="actions">
			<div class='buttonbar'>
				<%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
				<%= 'ou' %>
				<%= link_to t('menu.cancel'), :back %>
			</div>
		</div>
	</div>
<% end %>
