<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('client.new'), new_client_path) %> </a>
	<a class="btn btn-large btn-warning" <%= link_to(t('client.index'), clients_path) %> </a>
</div>

<div class='title_page'> <%= t('client.show') %> </div>

<div class='section'>
	<div class='label1 top req'> <%=t("client.name") %>: </div>				<%= @client.name %>
	<div class='label1 top req'> <%=t("cnpj") %>: </div> 					<%= @client.cnpj %>
	<div class='label1 top req'> <%=t("address") %>: </div> 				<%= @client.address %>
    <div class='label1 top req'> <%=t("phone") %>: </div> 					<%= @client.phone %>
	<div class='label1 top req'> <%=t("email") %>: </div>					<%= @client.email %>
	<div class='label1 top req'> <%=t("complement") %>: </div>				<%= @client.complement %>
	<div class='label1 top req'> <%=t("neighborhood") %>: </div>			<%= @client.neighborhood %>
	<div class='label1 top req'> <%=t("city") %>: </div>					<%= @client.city %>
	<div class='label1 top req'> <%=t("state") %>: </div>					<%= @client.state %>
</div>

