<div class='title'> <%= t('home.area.title') %> </div>

<table class="table">
  <thead>
    <tr>
      <th>Ano</th>
      <th>Num Doc</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>VTNT</th>
      <th>Área</th>
      <th>Módulos Rurais</th>
      <th>Grau Util</th>
      <th>Área Usada</th>
    </tr>
  </thead>
  <tbody>
    <% unless @areas.nil? %>
      <% @areas.each do |area| %>
        <tr>
          <td><%= area.year %> </td>
          <td><%= area.nr_document %> </td>
          <td><%= area.name %> </td>
          <td><%= area.address << ' - ' << area.city << ' - ' << area.state %> </td>
          <td><%= area.vtnt.real %> </td>
          <td><%= area.area.real %> </td>
          <td><%= area.modulo.real %></td>
          <td><%= area.degree_of_use.real %></td>
          <td><%= area.usable_area.real %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @areas.map{|i|i[:vtnt]}.inject(:+).real if @areas %></td>
      <td><%= @areas.map{|i|i[:area]}.inject(:+).real if @areas %></td>
      <td><%= @areas.map{|i|i[:modulo]}.inject(:+).real if @areas %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>
