<div class='title'> <%= t('home.area.title') %> </div>

<table class="table">
  <thead>
    <tr>
      <th>Ano</th>
      <th>Num Doc</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>VTNT</th>
      <th>Área</th>
      <th>Módulos Rurais</th>
      <th>Grau Util</th>
      <th>Área Usada</th>
    </tr>
  </thead>
  <tbody>
    <% unless @areas.nil? %>
      <% year_old = @areas[0].year %>
      
      <% @areas.each do |area| %>
        
        <% if year_old != area.year %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong><%= 'Total para Ano ' << year_old.to_s %> </strong></td>
            <td><strong><%= @areas.map{|i| i[:year] == year_old ? i[:vtnt] : 0.00 }.inject(:+).real %></strong></td>
            <td><strong><%= @areas.map{|i| i[:year] == year_old ? i[:area] : 0.00 }.inject(:+).real  %></strong></td>
            <td><strong><%= @areas.map{|i| i[:year] == year_old ? i[:modulo] : 0.00 }.inject(:+).real %></strong></td>
            <td></td>
            <td></td>
          </tr>
          <% year_old = area.year %>
        <% end %>

        <tr>
          <td><%= area.year %> </td>
          <td><%= area.nr_document %> </td>
          <td><%= area.name %> </td>
          <td><%= area.address << ' - ' << area.city << ' - ' << area.state %> </td>
          <td><%= area.vtnt.real %> </td>
          <td><%= area.area.real %> </td>
          <td><%= area.modulo.real %></td>
          <td><%= area.degree_of_use.real %></td>
          <td><%= area.usable_area.real %></td>
        </tr>
        
      <% end %>

      <% vtnt = @areas.map{|i| i[:year] == year_old ? i[:vtnt] : 0.00 }.inject(:+).real %>
      <% area = @areas.map{|i| i[:year] == year_old ? i[:area] : 0.00 }.inject(:+).real  %>
      <% modulo = @areas.map{|i| i[:year] == year_old ? i[:modulo] : 0.00 }.inject(:+).real %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong> <%= 'Total para Ano ' << year_old.to_s %> </strong> </td>
        <td><strong> <%= vtnt %> </strong> </td>
        <td><strong> <%= area  %> </strong> </td>
        <td><strong> <%= modulo %> </strong> </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

  </tbody>
</table>
