<%= simple_form_for(@cna, :url => set_cna_path, remote: true) do |f| %>
	<div class='section'>
    <div class='label1 top req'> <%=t("cna.year") %>: </div>        	<%= @cna.year %>
		<div class='label1 top req'> <%=t("cna.nr_document") %>: </div> <%= @cna.nr_document %>
		<div class='label1 top req'> <%=t("cna.due_at") %>: </div> 		<%= @cna.due_at.to_date.to_s_br if @cna.due_at %>
		<div class='label1 top req'> <%=t("cna.amount") %>: </div> 		<%= @cna.amount.real %>

		<%= f.input :fl_charge, :label => t('cna.charge') %>

		<div class="actions">
			<div class='buttonbar'>
				<%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
			</div>
		</div>
	</div>
<% end %>
