<div class='subtitle'> <%= t('deal.cnas') %>  </div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Ano</th>
      <th>Num Doc</th>
      <th>Vencimento</th>
      <th>Meses</th>
      <th>CNA</th>
      <th>Correção</th>
      <th>Multa</th>
      <th>Juros</th>
      <th>Valor GUIA</th>
      <th><%= t('stage') %></th>
      <th><%= t('status') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @cnas.nil? %>
      <% @cnas.each do |cna| %>
        <tr>
          <td>
            <% if cna.fl_charge %>
              <div class='strip green'> <%= 'Cobrar' %> </div>
            <% else %>
              <div class='strip red' id='none'> <%= 'Não Cobrar' %> </div>
            <% end %> 
          </td>    
          <td>
            <% if cna.fl_charge %>
              <span class="label label-success"><%= cna.year %></span>
            <% else %>
              <%= cna.year %> 
            <% end %> 
          </td>
          <td><%= cna.nr_document %> </td>
          <td><%= cna.due_at.to_date.to_s_br %> </td>
          <td><%= calc_meses_atraso(cna, nil, nil) %> </td>
          <td><%= cna.amount.real %> </td>
          <td><%= calc_correcao(cna, nil, nil).real %> </td>
          <td><%= calc_multa(cna, nil, nil).real %> </td>
          <td><%= calc_juros(cna, nil, nil).real %> </td>
          <td> 
            <% if cna.fl_charge %>
              <span class="label label-success"><%= calc_cna(cna, nil, nil).real %></span>
            <% else %>
              <%= calc_cna(cna, nil, nil).real %>
            <% end %>
          </td>
          <td><%= t(cna.stage) %> </td>
          <td><%= t(cna.status) %> </td>
          <td><%= link_to(t('edit'), get_cna_path(cna), class: "btn btn-xs btn-default", remote: true ) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= session[:value_cna].real %></td>
      <td> <%= session[:total_correcao].real %></td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_cna].real %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>

<% if session[:value_cna_cobrado]  %>

  <div class='subtitle'> <%= "Totais" %>  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Tipo Cobrança</th>
        <th>Valor CNA</th>
        <th>Correção</th>
        <th>Multa</th>
        <th>Juros</th>
        <th>Valor Total Cliente</th>
        <th>Valor Total GMA</th>
        <th>Valor Total Geral</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Parcelado</td>
        <td><%= session[:value_cna_cobrado].real.to_s %></td>    
        <td><%= session[:total_correcao_cobrado].real.to_s %></td>
        <td><%= session[:total_multa_cobrado].real.to_s %></td>
        <td><%= session[:total_juros_cobrado].real.to_s %></td>
        <td><%= session[:total_cna_sem_fee_cobrado].real.to_s %></td>
        <td><%= session[:total_fee_cobrado].real.to_s %></td>
        <td><%= session[:total_cna_cobrado].real.to_s %></td>
      </tr>
      <tr>
        <td>A Vista</td>
        <td><%= session[:value_cna_cobrado].real.to_s %></td>    
        <td><%= session[:total_correcao_cobrado].real.to_s %></td>
        <td><%= session[:total_multa_a_vista].real.to_s %></td>
        <td><%= session[:total_juros_a_vista].real.to_s %></td>
        <td></td>
        <td><%= session[:total_fee_a_vista].real.to_s %></td>
        <td><%= session[:total_cna_a_vista].real.to_s %></td>
      </tr>    </tbody>
  </table>

  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#">
        <span class="badge">Parcelado</span>
        
        Valor CNA
        <span class="badge">
          <%= session[:value_cna_cobrado].real.to_s %>
        </span>
        
        Correção
        <span class="badge">
          <%= session[:total_correcao_cobrado].real.to_s %>
        </span>

        Multa
        <span class="badge">
          <%= session[:total_multa_cobrado].real.to_s %>
        </span>
        
        Juros
        <span class="badge">
          <%= session[:total_juros_cobrado].real.to_s %>
        </span>

        Valor Cliente
        <span class="badge">
          <%= session[:total_cna_sem_fee_cobrado].real.to_s %>
        </span>
        
        Valor GMA
        <span class="badge">
          <%= session[:total_fee_cobrado].real.to_s %>
        </span>
        
        Valor Total
        <span class="badge">
          <%= session[:total_cna_cobrado].real.to_s %>
        </span>
      </a>
    </li>
  </ul>
  <br>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#">
        <span class="badge"> À Vista </span>
        
        Valor CNA:
        <span class="badge">
          R$ <%= session[:value_cna_cobrado].real.to_s %>
        </span>
        
        Correção:
        <span class="badge">
          R$ <%= session[:total_correcao_cobrado].real.to_s %>
        </span>
        
        Multa:
        <span class="badge">
          R$ <%= session[:total_multa_a_vista].real.to_s %>
        </span>
  
        Juros:
        <span class="badge">
          R$ <%= session[:total_juros_a_vista].real.to_s %>
        </span>
        
        Valor GMA:
        <span class="badge">
          R$ <%= session[:total_fee_a_vista].real.to_s %>
        </span>
        
        Valor Total:
        <span class="badge">
          R$ <%= session[:total_cna_a_vista].real.to_s %>
        </span>
  
      </a>
    </li>
  </ul>
<% end %>
