<div class='subtitle'> <%= t('deal.cnas') %>  </div>

<%= form_tag(deal_path(@taxpayer), method: 'get', :html => { :class => :form }) do |f| %>
  <table>
    <tbody>
      <tr>
        <td>Data Base de Cálculo:</td>
        <td>&nbsp;</td>
        <td>
          <%= select_date(@date_current, :prefix => 'date_current', :start_year => Date.current.year, :order => [:day, :month, :year], :use_month_names => %w(Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro Novembro Dezembro)) %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= submit_tag('Alterar Data Base de Cálculo', class: 'btn-primary') %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Ano</th>
      <th><%= t('stage') %></th>
      <th><%= t('status') %></th>
      <th>Meses</th>
      <th>Valor CNA</th>
      <th>Correção</th>
      <th>Multa</th>
      <th>Juros</th>
      <th>Valor GUIA</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @cnas.nil? %>
      <% @cnas.each do |cna| %>
        <tr>
          <td>
            <% if cna.fl_charge %>
              <div class='strip green'> <%= 'Cobrar' %> </div>
            <% else %>
              <div class='strip red' id='none'> <%= 'Não Cobrar' %> </div>
            <% end %> 
          </td>    
          <td>
            <% if cna.fl_charge %>
              <span class="label label-success"><%= cna.year %></span>
            <% else %>
              <%= cna.year %> 
            <% end %> 
          </td>
          <td><%= t(cna.stage) %> </td>
          <td><%= t(cna.status) %> </td>
          <td><%= calc_meses_atraso(cna, nil, @date_current) %> </td>
          <td><%= cna.amount.real %> </td>
          <td><%= calc_correcao(cna, nil, @date_current).real %> </td>
          <td><%= calc_multa(cna, nil, @date_current).real %> </td>
          <td><%= calc_juros(cna, nil, @date_current).real %> </td>
          <td> 
            <% if cna.fl_charge %>
              <span class="label label-success"><%= calc_cna(cna, nil, @date_current).real %></span>
            <% else %>
              <%= calc_cna(cna, nil, @date_current).real %>
            <% end %>
          </td>
          <td><%= link_to(t('edit'), get_cna_path(cna), class: "btn btn-xs btn-default", remote: true ) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= session[:value_cna].real %></td>
      <td> <%= session[:total_correcao].real %></td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_cna].real %></td>
      <td></td>
    </tr>
  </tfoot>  
</table>

<%= render 'totais' %>
