<div class='subtitle'> <%= t('deal.cnas') %>  </div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Ano</th>
      <th>Num Doc</th>
      <th>Vencimento</th>
      <th>Valor CNA</th>
      <th>Meses</th>
      <th>Multa</th>
      <th>Juros</th>
      <th>Valor GUIA</th>
      <th><%= t('stage') %></th>
      <th><%= t('status') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @cnas.nil? %>
      <% @cnas.each do |cna| %>
        <tr>
          <td>
            <% if cna.fl_charge %>
              <div class='strip green'> <%= 'Cobrar' %> </div>
            <% else %>
              <div class='strip red' id='none'> <%= 'Não Cobrar' %> </div>
            <% end %> 
          </td>    
          <td>
            <% if cna.fl_charge %>
              <span class="label label-success"><%= cna.year %></span>
            <% else %>
              <%= cna.year %> 
            <% end %> 
          </td>
          <td><%= cna.nr_document %> </td>
          <td><%= cna.due_at.to_date.to_s_br %> </td>
          <td><%= cna.amount %> </td>
          <td><%= calc_months(cna.year) %> </td>
          <td><%= calc_multa(cna).real %> </td>
          <td><%= calc_juros(cna).real %> </td>
          <td> 
            <% if cna.fl_charge %>
              <span class="label label-success"><%= calc_cna(cna).real %></span>
            <% else %>
              <%= calc_cna(cna).real %>
            <% end %>
          </td>
          <td><%= t(cna.stage) %> </td>
          <td><%= t(cna.status) %> </td>
          <td><%= link_to(t('edit'), get_cna_path(cna), class: "btn btn-xs btn-default", remote: true ) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= session[:value_cna].real %></td>
      <td></td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_cna].real %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">
    <a href="#">Valor Total a Ser Cobrado do Contribuinte:
      <span class="badge"><%= session[:total_cobrado].real.to_s %></span>
    </a>
  </li>
</ul>


