
<%= simple_form_for(
    :data_base,
    url: deal_path(@taxpayer),
    method: :get,
    html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <%= f.error_notification %>

  <div class='section'>
    <%= f.input :date_current, as: :string, label: 'Data base para efetuar os cálculos: ' << @date_current.to_s_br, hint: 'Clique aqui para informar outra data base ou digite a data no formato "' << Date.current.to_s_br << '"' %>

    <div class='buttonbar'>
      <%= f.button :submit, 'Atualizar data base de cálculo', class: 'btn-primary' %>
    </div>
  </div>
<% end %>

<div class='subtitle'> <%= t('deal.cnas', data_base: @date_current.to_s_br) %>  </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Ano</th>
      <th>Meses</th>
      <th>Principal</th>
      <th>Correção</th>
      <th>Multa</th>
      <th>Juros</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @cnas.nil? %>
      <% @cnas.each do |cna| %>
        <tr>
          <td>
            <% if cna.fl_charge %>
              <div class='strip green'> <%= 'COBRAR' %> </div>
            <% else %>
              <div class='strip red' id='none'> <%= 'NÃO COBRAR' %> </div>
            <% end %> 
          </td>    
          <td>
            <% if cna.fl_charge %>
              <span class="label label-success"><%= cna.year %></span>
            <% else %>
              <%= cna.year %> 
            <% end %> 
          </td>
          <td><%= calc_meses_atraso(cna, nil, @date_current) %> </td>
          <td><%= cna.amount.real %> </td>
          <td><%= calc_correcao(cna, nil, @date_current).real %> </td>
          <td><%= calc_multa(cna, nil, @date_current).real %> </td>
          <td><%= calc_juros(cna, nil, @date_current).real %> </td>
          <td> 
            <% if cna.fl_charge %>
              <span class="label label-success"><%= calc_cna(cna, nil, @date_current).real %></span>
            <% else %>
              <%= calc_cna(cna, nil, @date_current).real %>
            <% end %>
          </td>
          <td><%= link_to(cna.fl_charge ? 'Marcar NÃO COBRAR' : 'Marcar COBRAR', set_charge_cna_path(cna), class: "btn btn-xs btn-default", remote: true ) %></td>
          <td>
            <%= link_to('Marcar AJUIZAR', set_lawyer_to_cna_path(cna), class: "btn btn-xs btn-warning", remote: true, id: 'set_lawyer_to_cna', data: { confirm: 'Essa CNA será marcada como AJUIZADA e irá sair da sua lista de cobrança. Confirma a ação?' } ) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= session[:value_cna].real %></td>
      <td> <%= session[:total_correcao].real %></td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_cna].real %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>

<%= render 'totais' %>

