<div class='title_page'> <%= t('home.contract.title') %> </div>
<table class="table">
  <thead>
    <tr>
      <th>Termo</th>
      <th>Situação</th>
      <th>Data Contrato</th>
      <th>Parcela(s) GMA</th>
      <th>Valor GMA</th>
      <th><%= 'Parcela(s) ' << session[:client_name] %></th>
      <th><%= 'Valor ' << session[:client_name] %> </th>
    </tr>
  </thead>
  <tbody>
    <% if @contracts_for_taxpayer.nil? %>
      'Nenhum TERMO gerado para o contribuinte.'
    <% else %>
      <% @contracts_for_taxpayer.each do |contract| %>
        <tr>
          <td><%= contract.id %> </td>
          <td><%= link_to(t('contract.status.' << contract.status) << ' - Ver Termo', contract_path(contract)) %> </td>
          <td><%= contract.contract_date.to_s_br %> </td>
          <td><%= contract.unit_ticket_quantity %> </td>
          <td><%= contract.unit_amount.real %> </td>
          <td><%= contract.client_ticket_quantity %> </td>
          <td><%= contract.client_amount.real %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
