<div class='subtitle_page'> <%= 'Últimos Contatos com Contribuinte' %> </div>
<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Contribuinte</th>
      <th>Colaborador</th>
      <th>Histórico</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @list_last_histories.nil? %>
      <% @list_last_histories.each do |history| %>
        <tr>
          <td><%= history.created_at.to_s_br %> </td>
          <td><%= link_to(history.taxpayer.name, show_path(history.taxpayer)) if history.taxpayer.present? %> </td>
          <td><%= history.user.name if history.user.present? %> </td>
          <td><%= history.word.name if history.word.present? %> </td>
          <td><%= history.description %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
