<div class='subtitle'> <%= t('home.calendar.title') %> </div>
<div class='list1'>
	<% unless @calendar.empty? %>
		<% @calendar.each do |cal| %>
			<li>
				<div class='strip green large' id='none'> <%= cal.category.name if cal.category_id %> </div>

				<div class='indent'>
          <%= link_to(cal.taxpayer.name, Rails.application.routes.url_helpers.show_path(cal.taxpayer_id)) if cal.taxpayer_id %>
          &bull;
          <%= cal.description %>
					<tt></tt>
					<dt></dt>
				</div>
			</li>
		<% end %>
	<% end %>
</div>

<div id='paginate'>
  <div class="apple_pagination">
    <%= will_paginate @calendar, :container => false %>
  </div>
</div>
