<br>
<%= simple_form_for(@cna, :url => set_ticket_path, remote: true) do |f| %>

	<table style="width:100%">
		<tr>
	    <td><div class='label1 top req'> <%= f.label t("ticket.year") %></div></td>
			<td><div class='label1 top req'> <%= f.label t("ticket.nr_document") %></div></td>
			<td><div class='label1 top req'> <%= f.label t("ticket.due_at") %></div></td>
			<td><div class='label1 top req'> <%= f.label t("ticket.amount") %></div></td>
			<td><div class='label1 top req'> <%= f.label t('ticket.charge') %></div></td>
		</tr>
		<tr>
			<td><%= @ticket.document_number %></td>
			<td><%= @ticket.due_at.to_date.to_s_br if @ticket.due_at %></td>
			<td><%= @ticket.amount.real %></td>
			<td><%= f.input :charge, :label => t('ticket.charge') %></td>
		</tr>
	</table>
	<div class="actions">
		<div class='buttonbar'>
			<%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
		</div>
  </div>
<% end %>
