<div class='title_tools'>
  <%= link_to(t('deal.root'), show_path(@taxpayer), class: "btn btn-large btn-warning") %>
</div>

<div class='title_page'>
  <span> <%= t('deal.title') << ' - ' << @taxpayer.name.upcase %> </span>
</div>

<br>

<div class="row marketing">

  <div class="col-sm-6 col-md-3">
    <div class="panel panel-primary" id="task-taxpayer">
      <%= render 'show_taxpayer' %>    
    </div>
  </div>

  <div class="col-sm-6 col-md-9">

    <div id='table-cna'>
      <%= render 'deal_cnas' %>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;">
        <%= render 'cna' %>
      </div>
    </div>

    <br>
    <div id='table-ticket'>
      <div class='subtitle'> <%= t('deal.ticket') %> </div>
      <br>
      <%= simple_form_for( :ticket, url: get_tickets_path, method: :get, remote: true, layout: :inline, 
          html: { class: 'form-inline' }, 
          wrapper: :inline_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>

        <%= f.error_notification %>

        <%= f.input :value_type, as: :select, label: 'Cobrar Valor', collection: [["Cobrar valor à Vista", 0],["Cobrar valor parcelado",1]], default: 0 %>

        <%= f.input :unit_ticket_quantity, placeholder: t('deal.ticket_quantity'), input_html: {size: 30 } %>
        <%= f.input :unit_ticket_due, as: :string, placeholder: t('deal.unit_ticket_due'), input_html: {size: 27 } %>
        <%= f.input :client_ticket_due, as: :string, placeholder: t('deal.client_ticket_due'), input_html: {size: 27 } %>

          <% if @date_current == Date.current %>
            <%= f.button :submit, t('menu.tickets'), class: 'btn-primary' %>
          <% else %>
            <%= '**Permite Gerar Parcelas somente quando data base de cálculo for igual data de hoje.' %>
        <% end %>
      <% end %>
    </div>

    <div id='table-tickets' style="display:none;">
      <%= render 'tickets' %>
    </div>

    <br>
    <br>
    <%= render 'histories' %>
    <br>
    <%= render 'areas' %>

  </div>
</div>
