<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to(t('deal.root'), show_path(@taxpayer)) %> </a>
</div>

<div class='title_page'>
  <span> <%= t('deal.title') %> </span>
</div>

<br>

<div class="row marketing">

  <div class="col-sm-6 col-md-3">
    <div class="panel panel-primary" id="task-taxpayer">
      <%= render 'show_taxpayer' %>    
    </div>
  </div>

  <div class="col-sm-6 col-md-9">

    <br>
    <%= render 'areas' %>

    <div id='table-cna'>
      <%= render 'cnas' %>
    </div>


    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;">
        <%= render 'cna' %>
      </div>
    </div>

    <br>
    <div id='table-ticket'>
      <div class='subtitle'> <%= t('deal.ticket') %> </div>

      <%= form_tag(get_tickets_path, method: 'get', remote: true) do |f| %>
        <div class='section'>
          <table style="width:100%">
            <tr>
              <td><%= label_tag(:unit_ticket_quantity, t('deal.ticket_quantity')) %></td>
              <td><%= label_tag(:unit_ticket_due, t('deal.unit_ticket_due')) %></td>
              <td><%= label_tag(:client_ticket_due, t('deal.client_ticket_due')) %></td>
            </tr>
            <tr>
              <td><%= text_field_tag(:unit_ticket_quantity) %></td>
              <td><%= text_field_tag(:unit_ticket_due) %></td>
              <td><%= text_field_tag(:client_ticket_due) %></td>
            </tr>
          </table>  
        </div>
          <div class="actions">
            <div class='buttonbar'>
              <%= submit_tag(t('menu.tickets'), class: 'btn-primary') %>
            </div>
          </div>
      <% end %>
    </div>

    <div id='table-tickets' style="display:none;">
      <%= render 'tickets' %>
    </div>

  </div>
</div>
