<div class='title_tools'>
  <button class="btn btn-success" type="button">
    Termos Fechados Hoje: &nbsp; <span class="badge"> <%= @count_contracts_day %> </span>
  </button>
  <button class="btn btn-primary" type="button">
    Termos Fechados no MES: &nbsp; <span class="badge"> <%= @count_contracts_month %> </span>
  </button>
  <a class="btn btn-large btn-default" <%= link_to(t('menu.search'), root_path ) %> </a>
</div>

<div class='title_page'>
  <span> <%= current_user.client? ? t('home.title_client') : 'Dashboard de ' << current_user.name %> </span>
</div>


<% if @taxpayer.nil? %>

  <div class='section'>
    
    <%= simple_form_for(
        :filter, url: filter_name_home_index_path, method: 'get',
        html: { class: 'form-inline' }, 
        wrapper: :inline_form,
        wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      }) do |f| %>

      <%= f.input :name, placeholder: 'Procure pelo nome...', input_html: {size: 80}, skip_label: true %>
      <%= f.input :cna, placeholder: 'Procure pela CNA...', input_html: {size: 40}, skip_label: true %> 
      <%= f.input :cpf, placeholder: 'Procure pelo CPF...', input_html: {size: 40}, skip_label: true %> 
      <%= f.button :submit, t('menu.search'), class: 'btn-primary' %>
    <% end %>

    <div class='list1'>
      <% unless @taxpayers.nil? %>
        <div class='subtitle'> <%= 'Contribuintes Encontrados' %> </div>

        <% @taxpayers.each do |taxpayer| %>
          <li>
            <div class='strip' id='none'> <%= taxpayer.origin_code %> </div>

            <div class='indent'>
              <%= link_to(taxpayer.name, show_path(taxpayer)) %>
              &bull;
              <% unless Taxpayer.chargeble? taxpayer %>
                <a class="btn btn-danger btn-xs"> <%= "Cidade não liberada para cobrança" %> </a>
              <% end %>
              <% unless Taxpayer.debtor? taxpayer %>
                &bull;
                <a class="btn btn-success btn-xs"> <%= "Sem débitos" %> </a>
                &bull;
              <% end %>
              <tt>
                <%= taxpayer.cpf %>
                &bull;
                <%= taxpayer.client.name if taxpayer.client %>
                &bull;
                <%= taxpayer.address %>
                &bull;
                <%= taxpayer.city.name if taxpayer.city %>
                &bull;
                <%= taxpayer.city.state if taxpayer.city %>
              </tt>
              <dt>
              </dt>
            </div>
          </li>
        <% end %>

        <% unless @taxpayers.empty? %>
          <div class="apple_pagination">
            <%= will_paginate @taxpayers, :container => false %>
          </div>
          <br>
        <% end %>

      <% end %>
    </div>
  </div>

  <% if current_user.admin? || current_user.user? %>
    <%= render "taxpayers_in_debt" %>
    <%= render "index_last_contracts" %>
    <br>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <div class='subtitle'> <%= 'Lista por Colaborador' %> </div>
      <table class="table">
        <thead>
          <tr>
            <th>Colaborador</th>
            <th>Quantidade</th>
            <th>Históricos Hoje</th>
            <th>Valores em Aberto</th>
          </tr>
        </thead>
        <tbody>
          <% unless @resume.nil? %>
            <% @resume.each do |r| %>
              <tr>
                <td><%= r.name %> </td>
                <td><%= r.count %> </td>
                <td><%= r.count_histories_today %> </td>
                <td><%= r.sum.real %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div class='subtitle'> <%= 'Termos Fechados no MES' %> </div>
      <table class="table">
        <thead>
          <tr>
            <th>Colaborador</th>
            <th>Termo(s)</th>
          </tr>
        </thead>
        <tbody>
          <% unless @count_contracts_month_master.nil? %>
            <% @count_contracts_month_master.each do |contract| %>
              <tr>
                <td><%= user_name contract[0] %> </td>
                <td><%= contract[1] %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div class='subtitle'> <%= 'Termos Fechados HOJE' %> </div>

       <table class="table">
          <thead>
            <tr>
              <th>Colaborador</th>
              <th>Termo(s)</th>
            </tr>
          </thead>
          <tbody>
            <% unless @count_contracts_day_master.nil? %>
              <% @count_contracts_day_master.each do |contract| %>
                <tr>
                  <td><%= user_name contract[0] %> </td>
                  <td><%= contract[1] %> </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class='subtitle'> <%= 'Últimos Históricos' %> </div>
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Contribuinte</th>
            <th>Colaborador</th>
            <th>Histórico</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% unless @histories.nil? %>
            <% @histories.each do |history| %>
              <tr>
                <td><%= history.created_at.to_s_br %> </td>
                <td><%= link_to(history.taxpayer.name, show_path(history.taxpayer)) if history.taxpayer.present? %> </td>
                <td><%= history.user.name if history.user.present? %> </td>
                <td><%= history.word.name if history.word.present? %> </td>
                <td><%= history.description %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
<% end  %>


<% if @taxpayer %>

  <br>
  <div class='title'>
    <span> <%= 'Informações sobre Contribuinte - ' << @taxpayer.name %> </span>
  </div>

  <div class="row marketing">
    <div class="col-sm-6 col-md-3">
      <br>
      <div class="panel panel-primary">
        <%= render 'show_taxpayer' %> 
      </div>
    </div>

    <div class="col-sm-6 col-md-9">

      <div class='title_tools'>
        <% if @cnas_negotiables.count > 0 %> 
          <% if Taxpayer.chargeble?(@taxpayer) %>
            <a class="btn btn-large btn-warning" <%= link_to(t('home.deal'), deal_url(cod: @taxpayer.id)) %> </a>
          <% else %>
            <a class="btn btn-large btn-danger"> <%= "Cidade não liberada para cobrança" %> </a>
          <% end %>
        <% end %>
      </div>
      
      <%= render 'index_cnas_negotiables' if @cnas_negotiables.present? %>
      <%= render 'index_cnas_not_negotiables' if @cnas_not_negotiables.present? %>
      <%= render 'index_contracts' if @contracts.present? %>
      <%= render 'histories' %>
      
    </div>
  </div>
<% end %>
