<div class='title_tools'>
  <a class="btn btn-large btn-default" <%= link_to('Procurar Novo Contribuinte', root_path ) %> </a>
  <button class="btn btn-success" type="button">
    Termos Fechados Hoje: &nbsp; <span class="badge"> <%= @count_contracts_deal_day %> </span>
  </button>
  <button class="btn btn-primary" type="button">
    Termos Fechados no MES: &nbsp; <span class="badge"> <%= @count_contracts_deal_month %> </span>
  </button>
</div>

<div class='title_page'>
  <span> <%= current_user.client? ? t('home.title_client') : 'Tela Inicial de ' << current_user.name %> </span>
</div>


<% if @taxpayer.nil? %>

  <div class='section'>
    
    <%= simple_form_for(
        :filter, url: filter_name_home_index_path, method: 'get',
        html: { class: 'form-inline' }, 
        wrapper: :inline_form,
        wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      }) do |f| %>

      <%= f.input :name, placeholder: 'Digite o nome do contribuinte', input_html: {size: 80}, skip_label: true %>
      <%= f.input :cna, placeholder: 'Digite o número da CNA', input_html: {size: 40}, skip_label: true %> 
      <%= f.input :cpf, placeholder: 'Digite  número do CPF', input_html: {size: 40}, skip_label: true %> 
      <%= f.button :submit, 'Pesquisar', class: 'btn-primary' %>
    <% end %>

    <% unless @taxpayers.nil? %>
      <div class='list1'>
        <div class='subtitle_page'> <%= 'Contribuinte(s) Encontrado(s)' %> </div>

        <% @taxpayers.each do |taxpayer| %>
          <li>
            <div class='strip' id='none'> <%= taxpayer.id %> </div>

            <div class='indent'>
              <% unless Taxpayer.debtor? taxpayer %>
                <span class="btn btn-success btn-xs"> <%= "Sem débitos" %> </span>
                &bull;
              <% else %>

                <% unless Taxpayer.chargeble? taxpayer %>
                  <a class="btn btn-danger btn-xs"> <%= "Cidade não liberada para cobrança" %> </a>
                  &bull;
                <% end %>
              <% end %>

              <% if current_user.user? && current_user.id != taxpayer.user_id %>
                <%= taxpayer.name %>                
              <% else %>
                <%= link_to(taxpayer.name, show_path(taxpayer)) %>
              <% end %>

              &bull;
              <b><%= taxpayer.user.name if taxpayer.user_id %></b>
              &bull;

              <tt>
                <%= taxpayer.cpf %>
                &bull;
                <%= taxpayer.address %>
                &bull;
                <%= taxpayer.city.name if taxpayer.city %>
                &bull;
                <%= taxpayer.city.state if taxpayer.city %>
              </tt>
              <dt>
              </dt>
            </div>
          </li>
        <% end %>

        <% unless @taxpayers.empty? %>
          <div class="apple_pagination">
            <%= will_paginate @taxpayers, :container => false %>
          </div>
          <br>
        <% end %>

      </div>
    <% end %>
  </div>

  <% if current_user.admin? || current_user.user? %>
    <%= render "index_taxpayers_in_debt" %>
    <%= render "index_list_last_contracts" %>
    <br>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <%= render 'index_list_users_list' %>
    </div>
    <div class="col-md-3">
      <%= render 'index_count_contracts_deal_month_for_users' %>
    </div>
    <div class="col-md-3">
      <%= render 'index_count_contracts_deal_day_for_users' %>
    </div>  
  </div>


  <div class="row">
    <div class="col-md-12">
      <%= render 'index_list_last_histories' %>
    </div>
  </div>
  
<% end  %>


<% if @taxpayer %>

  <br>
  <div class='title'>
    <span> <%= 'Informações sobre Contribuinte - ' << @taxpayer.name %> </span>
  </div>

  <div class="row marketing">
    <div class="col-sm-6 col-md-3">
      <br>
      <div class="panel panel-primary">
        <%= render 'show_taxpayer' %> 
      </div>
    </div>

    <div class="col-sm-6 col-md-9">

      <div class='title_tools'>
        <% if @cnas_negotiables.count > 0 %> 
          <% if Taxpayer.chargeble?(@taxpayer) %>
            <a class="btn btn-large btn-warning" <%= link_to(t('home.deal'), deal_url(cod: @taxpayer.id)) %> </a>
          <% else %>
            <a class="btn btn-large btn-danger"> <%= "Cidade não liberada para cobrança" %> </a>
          <% end %>
        <% end %>
      </div>
      
      <%= render 'index_cnas_negotiables' if @cnas_negotiables.present? %>
      <%= render 'index_cnas_not_negotiables' if @cnas_not_negotiables.present? %>
      <%= render 'index_contracts_for_taxpayer' if @contracts_for_taxpayer.present? %>
      <%= render 'histories' %>
      
    </div>
  </div>
<% end %>
