<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('history.new'), new_history_path) %> </a>
</div>

<div class='title_page'>
	<span> <%= t('history.title') %> </span>
</div>

<div class='list1'>
	<% unless @histories.empty? %>
		<% @histories.each do |history| %>
			<li>
				<div class='strip' id='none'> <%= history.id %> </div>

				<div class='tools'>
					<%= link_to(t('menu.edit'), edit_history_path(history), class: "btn btn-xs btn-default") %>
				</div>

				<div class='indent'>
					<%= link_to(history.name, employee_path(history)) %>
					&ndash;
					<tt>
					<%= history.phone %>
					</tt>
					<dt>
						<%= history.email %>
					</dt>
				</div>
			</li>
		<% end %>
	<% end %>
</div>

<div id='paginate'><%= render 'common/paginate' %></div>
