<%= simple_form_for(@taxpayer_contact) do |f| %>
	<div class='section'>
    <%= f.input :taxpayer_id, :as => :hidden %>
    <%= f.input :name, :label => t('taxpayer_contact.name'), input_html:{:class => 'form-control'} %>
    <%= f.input :description, :label => t('taxpayer_contact.description'), input_html:{:class => 'form-control'} %>
    <%= f.input :phone, :label => t('taxpayer_contact.phone'), input_html:{:class => 'form-control'} %>
    <%= f.input :email, :label => t('taxpayer_contact.email'), input_html:{:class => 'form-control'} %>

  	<div class="actions">
  		<div class='buttonbar'>
        <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
        <%= 'ou' %>
        <%= link_to t('menu.cancel'), taxpayers_path %>
  		</div>
    </div>

  </div>

<% end %>

