<%= simple_form_for(@taxpayer) do |f| %>
	<div class='section'>
    <%= f.input :name, :label => t('taxpayer.name'), input_html:{:class => 'form-control'} %>
    <%= f.input :cpf, :label => t('cpf'), input_html:{:class => 'form-control'} %>
    <%= f.input :zipcode, :label => t('zipcode'), input_html: { :class => 'form-control' }  %>
    <%= f.input :address, :label => t('address'), input_html: { :class => 'form-control' }  %>
    <%= f.input :complement, :label => t('complement'), input_html: { :class => 'form-control' }  %>
    <%= f.input :neighborhood, :label => t('neighborhood'), input_html: { :class => 'form-control' }  %>
    <%= f.input :city, :label => t('city'), input_html: { :class => 'form-control' }  %>
    <%= f.input :state, :label => t('state'), input_html: { :class => 'form-control' }  %>

    <div class="actions">
      <div class='buttonbar'>
        <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
        <%= 'ou' %>
        <%= link_to t('menu.cancel'), taxpayers_path %>
      </div>
    </div>

<% end %>

