<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('taxpayer.new'), new_taxpayer_path) %> </a>
	<a class="btn btn-large btn-warning" <%= link_to(t('taxpayer.edit'), edit_taxpayer_path(@taxpayer.id)) %> </a>
	<a class="btn btn-large btn-warning" <%= link_to(t('taxpayer.index'), taxpayers_path) %> </a>
</div>

<div class='title_page'> <%= t('taxpayer.show') %> </div>

<div class='section'>
	<div class='label1 top req'> <%=t("id") %>: </div>	<%= @taxpayer.id %>
	<div class='label1 top req'> <%=t("taxpayer.origin_code") %>: </div>	<%= @taxpayer.origin_code %>
	<div class='label1 top req'> <%=t("user.name") %>: </div><%= @taxpayer.user.name if @taxpayer.user.present?%>
	<div class='label1 top req'> <%=t("client.name") %>: </div>				<%= @taxpayer.client.name %>
	<div class='label1 top req'> <%=t("taxpayer.name") %>: </div>			<%= @taxpayer.name %>
	<div class='label1 top req'> <%=t("cnpj") %>: </div> 					<%= @taxpayer.cpf %>
	<div class='label1 top req'> <%=t("zipcode") %>: </div> 				<%= @taxpayer.zipcode %>
	<div class='label1 top req'> <%=t("taxpayer.city") %>: </div><%= @taxpayer.city.name << "/" << @taxpayer.city.state %>
	<div class='label1 top req'> <%=t("address") %>: </div> 				<%= @taxpayer.address %>
	<div class='label1 top req'> <%=t("complement") %>: </div>				<%= @taxpayer.complement %>
	<div class='label1 top req'> <%=t("neighborhood") %>: </div>			<%= @taxpayer.neighborhood %>
	<div class='label1 top req'> <%=t("phone") %>: </div>					<%= @taxpayer.phone %>
	<div class='label1 top req'> <%=t("taxpayer.distributed_at") %>: </div>	<%= @taxpayer.distributed_at.to_s_br %>
</div>

<%= render 'cnas' %>
<br>
<%= render 'contacts' %>
