<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to(t('proposal.index'), proposals_path) %> </a>
  <a class="btn btn-large btn-success" <%= link_to(t('proposal.create_contract'), create_contract_from_proposal_path(@proposal.id),  method: 'post') %> </a>
</div>

<div class='title_page'> <%= t('proposal.show') %> </div>

<div class='section'>
  <div class='label1 top req'> <%=t("id") %>: </div>          <%= @proposal.id %>
  <div class='label1 top req'> <%=t("status") %>: </div>          <%= t('proposal.status.' << @proposal.status) %>
  <div class='label1 top req'> <%=t("proposal.contract_date") %>: </div> 
  <div class='label1 top req'> <%=t("proposal.taxpayer") %>: </div>               <%= @proposal.taxpayer.origin_code.to_s << " - " << @proposal.taxpayer.name %>
  <div class='label1 top req'> <%=t("proposal.employee") %>: </div> <%= @proposal.employee ? @proposal.employee.name : 'ADMIN'  %>
	<div class='label1 top req'> <%=t("proposal.amount", name: @proposal.unit.name) %>: </div>           <%= @proposal.unit_amount.real %>
	<div class='label1 top req'> <%=t("proposal.unit_fee", name: @proposal.unit.name) %>: </div>				        <%= @proposal.unit_fee.real %>
	<div class='label1 top req'> <%=t("proposal.ticket_quantity", name: @proposal.unit.name) %>: </div>	 <%= @proposal.unit_ticket_quantity %>
	<div class='label1 top req'> <%=t("proposal.amount", name: @proposal.taxpayer.client.name) %>: </div>			    <%= @proposal.client_amount.real %>
	<div class='label1 top req'> <%=t("proposal.ticket_quantity", name: @proposal.taxpayer.client.name) %>: </div>	<%= @proposal.client_ticket_quantity %>
</div>


<div class='subtitle'> <%= 'Parcelas' %> </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Vencimento</th>
      <th>Valor de Parcela GMA</th>
      <th>Valor de Parcela Cliente</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @tickets.nil? %>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.ticket_number %> </td>
          <td><%= ticket.due_at.to_date.to_s_br %> </td>
          <td><%= ticket.amount.real if ticket.unit? %> </td>
          <td><%= ticket.amount.real if ticket.client? %> </td>

          <td><div class='tools'>
            <%= link_to(t('menu.edit'), edit_proposal_ticket_path(ticket), class: "btn btn-xs btn-default") %>
          </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
