<%= simple_form_for(@city) do |f| %>
  <%= f.error_notification %>

	<div class='section'>
	  <div class="form-inputs">
	    <%= f.input :unit_id, as: :hidden %>
	    <%= f.input :name, :label => t('city.name') %>
      <%= f.input :state, :label => t('state') %>
      <%= f.input :fl_charge, as: :radio_buttons, :label => t('city.fl_charge') %>
	  </div>

	  <div class="form-actions">
  		<%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
  		<%= 'ou' %>
  		<%= link_to t('menu.cancel'), cities_path %>
	  </div>
	</div>
<% end %>
