<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to(t('city.new'), new_city_path) %> </a>
</div>

<div class='title_page'>
  <span> <%= t('city.title') %> </span>
</div>

<p id="notice"><%= notice %></p>

<div class='list1'>
  <% unless @cities.empty? %>
    <% @cities.each do |city| %>
      <li>
        <div class='strip' id='none'> <%= city.id %> </div>

        <div class='tools'>
          <%= link_to(t('menu.edit'), edit_city_path(city), class: "btn btn-xs btn-default") %>
        </div>
 
        <div class='indent'>
          <%= link_to(city.name, city_path(city)) %>
          &bull;
          <%= city.state %>
          <tt></tt>
          <dt></dt>
        </div>
      </li>
    <% end %>
  <% end %>
</div>

<div id='paginate'>
  <div class="apple_pagination">
    <%= will_paginate @cities, :container => false %>
  </div>
</div>
