<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('city.new'), new_city_path) %> </a>
	<a class="btn btn-large btn-warning" <%= link_to(t('city.index'), cities_path) %> </a>
</div>

<div class='title_page'> <%= t('city.show') %> </div>

<div class='section'>
	<div class='label1 top req'> <%=t("city.name") %>: </div>	<%= @city.name %>
	<div class='label1 top req'> <%=t("state") %>: </div> 		<%= @city.state %>
	<div class='label1 top req'> <%=t("city.fl_charge") %>: </div> 	<%= @city.fl_charge ? "SIM" : "NAO" %>
</div>
