<%= simple_form_for(@category) do |f| %>
	<div class='section'>
    <%= f.input :name, :label => t('category.name'), input_html:{:class => 'form-control'} %>

  	<div class="actions">
  		<div class='buttonbar'>
        <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
        <%= 'ou' %>
        <%= link_to t('menu.cancel'), categories_path %>
  		</div>
    </div>

  </div>

<% end %>

