<div class='title_page'>
	<span> <%= t('bank_billet.title') %> </span>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome/Razão Social</th>
      <th>Valor (R$)</th>
      <th>Vencimento</th>
      <th>Data de Pagamento</th>
      <th>Valor Pago (R$)</th>
      <th><%= t('status') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @bankbillets.nil? %>
      <% @bankbillets.each do |bankbillet| %>
        <tr>
          <td><%= bankbillet.id %> </td>
          <td><%= link_to(bankbillet.customer_person_name, :action => "bank_billet_show", :cod => bankbillet.id) %></td>
          <td><%= bankbillet.amount.real %> </td>
          <td><%= bankbillet.expire_at.to_date.to_s_br %> </td>
          <td><%= bankbillet.paid_at.to_date.to_s_br if bankbillet.paid_at %> </td>
          <td><%= bankbillet.paid_amount.real %> </td>
          <td><%= t('bank_billet.status.'<< bankbillet.status) %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
