<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
			<%= link_to(session[:unit_name].present? ? session[:unit_name] + (session[:client_name] ? ' - ' + session[:client_name].upcase + ' - ' : '') : t("corporation"), root_path, class: "navbar-brand") %>

  		<% if user_signed_in? %>
      	<ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <strong><%= current_user.name %></strong>
              <strong>
                <% if current_user.admin? %>
                  (ADMIN)
                <% elsif current_user.user? %>
                  (COLABORADOR)
                <% elsif current_user.client? %>
                  (CLIENTE)
                <% else %>
                  (NAO DEFINIDO)
                <% end %>
              </strong>
            </a>
          </li>
          
          <li class='active'><%= link_to "Início", root_path %></li>
          <%= render "layouts/menu" if session[:client_id] %>
      	  <li class='active'><%= link_to t("logout", default: "Logout"), destroy_user_session_path, method: :delete %></li>

        </ul>
  		<% end %>
    </div>
  </div>
</header>
